---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card/Card.tsx';

import { Image } from 'astro:assets';
import { sanityClient } from "sanity:client";  
const team = await sanityClient.fetch(`*[ _type == "team" ]{"imageURL": image.asset->url, ...} | order(order asc)`);
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="introduction">
			<h1>About Page</h1>
			<p class="instructions">
				This page is using the Sanity API to grab the team and statically spits it out. 
			</p>
		</div>
		<ul role="list" class="link-card-grid">
			{ team.map((member: any) => (
			<Card
				href={member.linkedInURL}
			>
				<Image class="image" src={member.imageURL} alt="" width="384" height="256"/>
				<h2>{member.name}</h2>
				<p>{ member.jobTitle }</p>
			</Card>
			))
			}
		</ul>
	</main>
</Layout>

<style scoped>
	.introduction {
		text-align: center;
	}
	.image {
		width: 100%;
		height: auto;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .2em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		margin-top: var(--clp-space-2xl);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
