---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Typography"> 
    <main>
        <div class="wrapper">
            <div class="flow header">
                <h1 class="h2">Typography Scale</h1>
            </div>

            <div class="flow type">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>

            <div class="flow type">
                <p>--font-size-xs</p>
                <p>--font-size-md</p>
                <p>--font-size-lg</p>
                <p>--font-size-xl</p>
                <p>--font-size-2xl</p>
                <p>--font-size-3xl</p>
                <p>--font-size-4xl</p>
                <p>--font-size-5xl</p>
                <p>--font-size-6xl</p>
                <p>--font-size-7xl</p>
                <p>--font-size-8xl</p>
                <p>--font-size-9xl</p>
            </div>
        </div>
	</main>
</Layout>

<style>
    .header {
        text-align: center;
    }

    .type {
        margin-top: var(--clp-space-xl);
    }
</style> 