---
import BaseHead from '@components/BaseHead.astro'; 
import Navigation from '@components/Navigation/Navigation.tsx';
import '../scss/style.scss';
import type SEOProps from "@clp-types/seo-props";
export interface Props extends SEOProps {};  
---

<!doctype html>
<html lang="en">
	<BaseHead {...Astro.props} />
	<body>
		<header>
			<Navigation />
		</header>
		<slot />	
	</body>
</html>

<style is:global>
	html {
		font-family: var(--clp-font-family-sans);
		background: var(--clp-color-surface-base);
		color: var(--clp-color-text-base);   
	}
</style>
